@media only screen and (max-width: 600px) {
  .side-bar .page-name,
  .right-side {
    display: none;
  }

  .side-bar svg {
    margin-right: 0 !important;
  }

  .side-bar {
    width: 5rem;
  }
}
